
.vs/ProjectEvaluation/projectfile.metadata.v6.1
.vs/ProjectEvaluation/projectfile.projects.v6.1
.vs/ProjectFile/config/applicationhost.config
.vs/ProjectFile/DesignTimeBuild/.dtbcache.v2
.vs/ProjectFile/FileContentIndex/a3e3c49e-2b7b-4ae9-bd31-387a2dcc6b8c.vsidx
.vs/ProjectFile/FileContentIndex/read.lock
.vs/ProjectFile/v17/.futdcache.v2
.vs/ProjectFile/v17/.suo
.vs/ProjectFile/v17/fileList.bin
ProjectFile/bin/Debug/net6.0/ProjectFile.dll
ProjectFile/bin/Debug/net6.0/ProjectFile.pdb
ProjectFile/bin/Debug/net6.0/ProjectFile.staticwebassets.runtime.json
ProjectFile/obj/Debug/net6.0/ProjectFile.assets.cache
ProjectFile/obj/Debug/net6.0/ProjectFile.csproj.FileListAbsolute.txt
ProjectFile/obj/Debug/net6.0/ProjectFile.dll
ProjectFile/obj/Debug/net6.0/ProjectFile.GeneratedMSBuildEditorConfig.editorconfig
ProjectFile/obj/Debug/net6.0/ProjectFile.genruntimeconfig.cache
ProjectFile/obj/Debug/net6.0/ProjectFile.pdb
ProjectFile/obj/Debug/net6.0/staticwebassets.build.json
ProjectFile/obj/Debug/net6.0/staticwebassets.development.json
ProjectFile/obj/Debug/net6.0/staticwebassets.pack.json
ProjectFile/obj/project.assets.json
ProjectFile/obj/project.nuget.cache
ProjectFile/obj/ProjectFile.csproj.nuget.dgspec.json
.vs/ProjectFile/FileContentIndex/0689bc4a-dfb8-49c7-8cfc-c78985972e8d.vsidx
.vs/ProjectFile/FileContentIndex/8718c6fd-fbb8-4667-ba89-bd2407a776fc.vsidx
ProjectFile/bin/Debug/net6.0/ProjectFile.dll
ProjectFile/bin/Debug/net6.0/ProjectFile.pdb
ProjectFile/obj/Debug/net6.0/ProjectFile.dll
ProjectFile/obj/Debug/net6.0/ProjectFile.pdb
